<p>
  <mat-toolbar color="primary">
    <button mat-icon-button routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Home</button>
      <button *ngIf="auth.isLoggedIn()" mat-menu-item routerLink="/patients">Patients</button>
    </mat-menu>
    <span>Online Doctor</span>

    <span class="example-spacer"></span>

    <button mat-button *ngIf="!auth.isLoggedIn()" routerLink="/login">Sign In</button>
    <button mat-button *ngIf="!auth.isLoggedIn()" routerLink="/register">Register</button>
    <button mat-button *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
