<div class="container">
  <h3>Patient List</h3>

  <table mat-table [dataSource]="patients"  class="mat-elevation-z8">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.first_name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.last_name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef> Sex </th>
      <td mat-cell *matCellDef="let element"> {{ element.sex }} </td>
    </ng-container>
  
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{ element.age }} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>

    <ng-container matColumnDef="carFreq">
      <th mat-header-cell *matHeaderCellDef> Cardic Frequency </th>
      <td mat-cell *matCellDef="let element"> {{ element.getLatestVitalSigns().cardiac_frequency || "--" }} </td>
    </ng-container>

    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef> Temperature </th>
      <td mat-cell *matCellDef="let element"> {{ element.getLatestVitalSigns().temperature || "--" }} </td>
    </ng-container>

    <ng-container matColumnDef="spo2">
      <th mat-header-cell *matHeaderCellDef> Oxygen Saturation </th>
      <td mat-cell *matCellDef="let element"> {{ element.getLatestVitalSigns().spo2 || "--" }} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="warn" (click)="deletePatient(element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/patients/{{ row._id }}"></tr>
  </table>

  <button mat-raised-button color="primary" class="add-button" routerLink="/patients/add">Add</button>
</div>
