<div class="container">
  <h3>{{ patient.last_name }}, {{ patient.first_name }} ({{ patient.age }}) - {{ patient.sex }}</h3>
  <h4>{{ patient.email }}</h4>

  <br>

  <h4>Cardiac Frequency - {{ patient.getLatestVitalSigns().cardiac_frequency }}</h4>
  <h5>Avg: {{ patient.getAverage("cardiac_frequency") }} Min: {{ patient.getMinValue("cardiac_frequency") }} Max: {{ patient.getMaxValue("cardiac_frequency") }}</h5>

  <br>

  <h4>Temperature - {{ patient.getLatestVitalSigns().temperature }}</h4>
  <h5>Avg: {{ patient.getAverage("temperature") }} Min: {{ patient.getMinValue("temperature") }} Max: {{ patient.getMaxValue("temperature") }}</h5>

  <br>

  <h4>Oxygen Saturation - {{ patient.getLatestVitalSigns().spo2 }}</h4>
  <h5>Avg: {{ patient.getAverage("spo2") }} Min: {{ patient.getMinValue("spo2") }} Max: {{ patient.getMaxValue("spo2") }}</h5>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Send a message</mat-label>
    <textarea matInput [(ngModel)]="message"></textarea>
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" (click)="sendEmail()">Send Email</button>
</div>
