<div class="container">
  <h3>New Patient</h3>

  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-form-field appearance="outline" class="col-md">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="patient.first_name" placeholder="Enter patient's first name" required>
      </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="patient.last_name" placeholder="Enter patient's last name" required>
      </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Age</mat-label>
        <input matInput [(ngModel)]="patient.age" type="number" placeholder="Enter patient's age" required>
      </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Sex</mat-label>
        <mat-select [(ngModel)]="patient.sex" required>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="patient.email" type="email" placeholder="Enter patient's email" required>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <button mat-raised-button (click)="savePatient()">Save</button>
</div>
